mat-card{
  width: 70%;
  margin: auto;
}
.text-center{
  text-align: center;
}
mat-form-field{
  width: 70%;

}
form{
  text-align: center;
}
p{
  text-align: center;
}
:host {
  background-color:#F8F8FF;
  height: 100%;
  display: block;
}
